:root {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

.body {
    height: 700px;
    background: #F3F5FC;
}

.contenedor {
    width: 1440px;
    margin: 20px auto;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    justify-content: center;

    grid-template-areas: "header header sidebar"
        "contenido contenido sidebar"
        "footer footer sidebar";
}


.contenedor .header {
    grid-area: header;
}

.contenedor .contenido {
    grid-area: contenido;
    width: 1000px;
}

.contenedor .sidebar {
    grid-column: 3 / 4;
    grid-area: sidebar;
}

.contenedor .footer {
    grid-area: footer;
}

/***********************************************************************/

.logo {
    flex-direction: column;
    align-items: unset;
    padding: 0px;
    gap: 0px;
    position: relative;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.result {
    position: relative;
    /* display: flex; */
    width: 400px;
    height: 700px;
    left: 0px;
    top: 0px;
    /* White */
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    align-items: center;

}


::placeholder {
    color: #0A3871;
}

.texto {
    position: relative;
    width: 678px;
    min-height: 400px;
    left: 240px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: transparent;
    border: none;
    resize: none;
    /* identical to box height, or 48px */
    /* Dark blue/dark-blue-300 */
    color: #0A3871;
    text-transform: lowercase;
}

.note {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 8px;
    position: relative;
    width: 500px;
    height: 18px;
    left: 240px;
    top: 0px;
}

.textNote {
    width: 400px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    /* Gray/gray-400 */
    color: #495057;
    opacity: 0.8;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.iconNote {
    width: 16px;
    height: 16px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: relative;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 0px;
}

.btnEncriptar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    /* Dark blue/dark-blue-300 */
    background: #0A3871;
    border-radius: 24px;
    /* Inside auto layout */
    order: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    justify-content: space-evenly;
    border: none;
    cursor: pointer;
    /* White */
    color: #FFFFFF;

    transform: scale(1);
    transition: transform 0.5s;
}

.btnEncriptar:hover {
    transform: scale(1.1);
    color: rgb(238, 255, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.btnDesencriptar {
    box-sizing: border-box;
    justify-content: space-evenly;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    /* Light gray */
    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    border-radius: 24px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    /* Dark blue/dark-blue-300 */
    color: #0A3871;
    /* Inside auto layout */

    transform: scale(1);
    transition: transform 0.5s;
}

.btnDesencriptar:hover {
    transform: scale(1.1);
    color: rgb(104, 112, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

#muneco {
    position: relative;
    width: 336px;
    height: 304px;
    left: 20px;
    top: 160px;
}

#txtPreviusTittle {
    position: relative;
    width: 80%;
    height: 58px;
    justify-content: space-evenly;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    margin: auto;
    text-align: center;
    /* Gray/gray-500 */
    color: #343A40;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    top: 180px;
}

#txtPreviusDesc {
    position: relative;
    width: 80%;
    height: 48px;
    justify-content: space-evenly;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    margin: auto;
    text-align: center;

    /* Gray/gray-400 */
    top: 180px;
    color: #495057;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.txtResult {
    position: relative;
    max-width: 336px;
    height: 781px;
    left: 20px;
    top: 72px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    /* Gray/gray-400 */
    color: #495057;
}

#areaTexto {
    resize: none;
    justify-content: space-evenly;
    position: relative;
    width: 85%;
    height: 540px;
    left: 0px;
    top: 20px;
    margin: auto;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    /* Gray/gray-400 */
    background: #FFFFFF;
    border: none;
    overflow: auto;
}

#idbtnCopiar {
    position: relative;
    box-sizing: border-box;
    justify-content: space-evenly;
    /* Auto layout */
    flex-direction: column;

    padding: 24px;
    gap: 8px;
    width: 90%;
    height: 67px;
    left: 19px;
    top: 50px;
    align-items: center;
    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    background: white;
    cursor: pointer;
    color: #0A3871;

    order: 0;

    transform: scale(1);
    transition: transform 0.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

}

#idbtnCopiar:hover {
    transform: scale(1.1);
    color: rgb(67, 71, 0);

}

@media screen and (max-width: 768px) {
    .contenedor {
        width: 768px;
        grid-template-areas: "header header header"
            "contenido contenido contenido"
            "footer footer footer"
            "sidebar sidebar sidebar";
    }

    .contenedor .contenido {
        width: 768px;
    }

    .body {
        height: auto;
    }

    .texto {
        width: 702px;
        left: 20px;
        top: 60px;
    }

    .logo {
        height: 50.58px;
        left: 20px;
        top: 20px;
    }

    .note {
        left: 10px;
        top: 40px;
    }

    .botones {
        left: 35px;
        top: 30px;
    }

    .result {
        width: 690px;
        height: auto;
        left: 20px;
        top: 50px;
        padding: 15px;

        flex-wrap: wrap;
    }

    #muneco {
        display: none;
    }


    #txtPreviusTittle {
        top: 30px;
    }

    #txtPreviusDesc {
        top: 10px;
    }

    #areaTexto {

        height: auto;
        width: 100%;
        left: 2px;
        padding-bottom: 30px;
    }

    #idbtnCopiar {

        width: 690px;
        left: 0px;
        top: 10px;

    }

}



@media screen and (max-width: 375px) {
    .contenedor {

        max-width: 375px;
        grid-template-areas: "header header header"
            "contenido contenido contenido"
            "footer footer footer"
            "sidebar sidebar sidebar";
    }

    .contenedor .contenido {
        width: 375px;
    }

    .body {
        height: auto;
        width: 100%;

    }

    .texto {
        width: 340px;
        left: 20px;
        top: 40px;
        font-size: 32px;
        min-height: 200px;
    }

    .logo {
        height: 50.58px;
        left: -20px;
        top: 20px;
    }

    .note {
        left: 10px;
        top: 40px;
        width: 300px;
    }

    .textNote {
        width: 250px;
    }

    .botones {
        left: 18px;
        top: 30px;
        width: 343px;
        flex-wrap: wrap
    }

    .btnEncriptar {
        width: 100%;
        height: 67px;

    }

    .btnDesencriptar {
        width: 100%;
        height: 67px;
    }


    .result {
        width: 310px;
        height: auto;
        left: 20px;
        top: 160px;
        padding: 15px;
        flex-wrap: wrap
    }

    #muneco {
        display: none;
    }


    #txtPreviusTittle {
        top: 5px;
    }

    #txtPreviusDesc {
        top: 5px;
    }

    #areaTexto {
        height: auto;
        width: 310px;
        left: 2px;
        padding-bottom: 30px;
    }

    #idbtnCopiar {
        width: 310px;
        left: 0px;
        top: 0px;
        bottom: 10px;
    }

}